body {
  margin: 0px;
  font: 400 14px Arial, sans-serif;
}

a {
  color: aqua;
}

a:hover {
  color: rgb(60, 133, 200);
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

button {
  cursor: pointer;
  background: #ffffff;
  padding: 4px;
  border-radius: 2px;
  border: 1px solid rgb(175, 175, 175);
}

input {
  padding: 6px;
  border-radius: 5px;
  margin-left: 10px;
  border: 1px solid #dddddd;
  width: 250px;
}

button:hover {
  cursor: pointer;
  background: rgb(175, 175, 175);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
